{%  extends 'accounts/main.html' %}

{% block content %}


<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
    <div class="sidebar">
		
        <h3 style="color: white;">Hello, {{user}}</h3>
        <ul>
            <li><a href="{% url 'home' %}" class="menu"><i class="fas fa-home"></i>Dashboard</a></li>
			<li><a href="{% url 'create_company' user.id %}" class="menu"><i class="fas fa-address-card"></i>Add Company</a></li>

            <li><a href="{%url 'logout' %}"class="menu"><i class="fas fa-user"></i>Logout</a></li>
            <!-- <li><a href="#"><i class="fas fa-project-diagram"></i>portfolio</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li> -->
        </ul> 
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="main_content">
		
	{%  include 'accounts/status.html' %}

<div class="row">
	<div class="col-md-10 mx-auto">
		<!-- <h class="text-info mx-auto" id="loader_disp"> -->
			<div class="text-center " id="loader_disp" style="visibility:hidden;">
				<!-- <h6>Loading...</h6> -->
				<div class="spinner-border"  role="status">
				  <!-- <span class="sr-only">Loading...</span> -->
				  
				</div>
				
			</div>
		<!-- </h5> -->
		{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

		
		<h4>USERS:</h4>
		
		<div class="card card-body overflow-scroll">
			<!-- <a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a> -->
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>User</th>
					<th>Email</th>
					<th>Action</th>
				</tr>

				{% for customer in customers %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.id %}">View</a></td>
						<td>{{customer.user}}</td>
						<td>{{customer.email}}</td>
						<td>
							{% if customer.is_shortlisted %}
			<h6>Shortlisted</h6>
			
			{%elif customer.is_mail_send%}
			<h6>Waiting for confirmation..</h6>
	
			{% else %}


			<!-- <a class="btn btn-outline-info" role="button" onclick="myFunction()" href="{% url 'send_mail' customer.id %}">Shortlist</a> -->
			{%endif%}


						</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
			
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for order in orders %}
					<tr>
						<td>{{order.product}}</td>
						<td>{{order.date_created}}</td>
						<td>{{order.status}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>

						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>

					</tr>
				{% endfor %}

		
			</table>
		</div>

	<!-- <div class="col-md-7">
		<h5>Last 5 Companys Added</h5>
		<hr>
		<div class="card card-body">
			
			
		</div>
	</div> -->



</div>


{% endblock %}
© 2021 GitHub, Inc.